html {
  background: #000;
}

@font-face {
  font-family: "CircularStd-Book";
  src: url("https://jupitrr.com/_next/static/media/CircularStd-Book.9048137056e4347dbbd5cb532ecd395a.otf");
}

@font-face {
  font-family: "CircularStd-Black-Italic";
  src: url("https://jupitrr.com/_next/static/media/CircularStd-BlackItalic.e1f3943738ef431efb3e070f4e06436a.otf");
}

@font-face {
  font-family: "CircularStd-Black";
  src: url("https://jupitrr.com/_next/static/media/CircularStd-Black.757b8ac8efa71be3fcd07e462e021a1b.otf");
}

@font-face {
  font-family: "CircularStd-Bold";
  src: url("https://jupitrr.com/_next/static/media/CircularStd-Bold.5c4514a8399ec0064b9b1accdb262833.otf");
}
html {
  font-family: CircularStd-Book;
}

h1,
h2,
h3 {
  font-family: CircularStd-Black, sans-serif;
}

h4,
h5,
h6,
.conversion {
  font-family: CircularStd-Bold, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: CircularStd-Book, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  /* cursor: url(https://i.imgur.com/g7rRv2N.png), default; */
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.banner-me {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 180px;
  border-radius: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #4fc2e4;
  z-index: 201;
}

.banner.wrapper {
  background: radial-gradient(
      ellipse at center,
      rgba(3, 0, 173, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 80%,
      #000000 90%
    ),
    url(https://i.pinimg.com/originals/22/9c/df/229cdfa5921dc76922ff7a7a3a447dc7.jpg);
  background-size: cover;
  height: 35em;
  padding-top: 60px;
  overflow: hidden;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.banner h1 {
  color: #c6cbf5;
  font-family: "Orbitron", sans-serif;
  font-size: 180px;
  font-weight: 1000;
  line-height: 1.2;
  left: 50%;
  margin: 0;
  margin-left: -210px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 30px;
  width: 400px;
  z-index: 11;
  background: -webkit-linear-gradient(
    top,
    #151c60,
    #c6cbf5 40%,
    black 40%,
    #e1a0ce 65%,
    white
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.banner h2 {
  color: #d100b1;
  display: block;
  font-family: "Yellowtail", cursive;
  font-size: 7em;
  margin-right: -8em;
  position: relative;
  text-shadow: 0 0 1px #d100b1, 0 -3px 3px rgba(255, 255, 255, 0.8),
    0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #d100b1,
    0 0 45px rgba(209, 0, 177, 0.8);
  text-align: center;
  text-decoration: underline;
  text-transform: none;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  margin-top: -2.1em;
  width: 100%;
  z-index: 11;
}

polygon {
  stroke: linear-gradient(
    90deg,
    rgba(79, 86, 176, 1) 0%,
    rgba(188, 66, 177, 1) 0%,
    rgba(97, 106, 210, 1) 49%
  );
}

.banner .grid {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(54, 226, 248, 0.5) 0%,
      rgba(54, 226, 248, 0.5) 3px,
      rgba(0, 0, 0, 0) 0px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(54, 226, 248, 0.5) 0%,
      rgba(54, 226, 248, 0.5) 3px,
      rgba(0, 0, 0, 0) 0px
    );
  background-size: 4em 4em, 4em 4em;
  /* background-color: black; */
  border-top: 5px solid #d100b1;
  box-shadow: 0 -25px 45px #d100b1;
  height: 45em;
  -webkit-transform: scale(1.26) rotateX(80deg);
  transform: scale(1.26) rotateX(80deg);
  /* transform: scale(1.26) rotateX(80deg); */
  position: absolute;
  width: 100%;
  bottom: -20em;
  margin-top: 260px;
}
.banner .grid:after {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, rgba(0, 0, 0, 0)),
    color-stop(95%, #000000)
  );
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 95%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.banner .grid:before {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 30%,
    rgba(209, 0, 177, 0.5) 90%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.banner .logo-triangle.normal {
  -webkit-animation: dash 4s linear forwards;
  animation: dash 4s linear forwards;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
}
.banner .logo-triangle {
  fill: url(#grad1);
  -webkit-filter: url(#dropshadow);
  filter: url(#dropshadow);
  left: 50%;
  margin-left: -200px;
  position: absolute;
  top: 11em;
  z-index: -1;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.header {
  display: none;
  background-color: #00000047;
  border-bottom: 2px solid white;
  z-index: 100;
  left: 0px;
  top: 0px;
  height: 60px;
  position: fixed;
  width: 100vw;
}

#cursor-custom {
  /* z-index: 1000;
  height: 40px;
  width: 40px;
  pointer-events: none;
  position: fixed;
  background: #e2dfdfed;
  border-radius: 50%;
  box-shadow: 0 0 10px #e2dfdfed, 0 0 20px #e2dfdfed, 0 0 30px #e2dfdfed,
    0 0 40px #e2dfdfed, 0 0 70px #e2dfdfed, 0 0 80px #e2dfdfed,
    0 0 100px #e2dfdfed, 0 0 150px #e2dfdfed; */
}

button {
  outline: none;
}
.extra-about-me-wrapper .title {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 0 2px 0 6px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 #fff;
  line-height: 30px;
  background-image: -webkit-linear-gradient(left, #0050e0, #3890f8);
  background-image: -moz-linear-gradient(left, #0050e0, #3890f8);
  background-image: linear-gradient(left, #0050e0, #3890f8);
}
.extra-about-me-wrapper .close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 25px;
  height: 25px;
  color: #000;
  text-align: center;
  font-weight: bold;
  background-color: #e8e8d8;
}

.extra-about-me-wrapper .error {
  position: absolute;
  width: 494px;
  height: 142px;
  padding: 2px;
  border: 1px outset #dedede;
  border-color: #a3a3a3;
  background-color: #e8e8d8;
  opacity: 0;
  animation: display 200ms;
  animation-fill-mode: forwards;
}
.extra-about-me-wrapper .message {
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 14px;
  align-items: center;
}
.extra-about-me-wrapper .message img {
  float: left;
  margin-right: 20px;
}
.extra-about-me-wrapper .ok {
  position: absolute;
  width: 100px;
  height: 27px;
  background-color: #e8e8d8;
  border: 1px solid #2b2b2b;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.7);
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.extra-about-me-wrapper .ok:focus > span {
  border: 1px dotted #000;
}
.extra-about-me-wrapper .ok span {
  display: block;
  width: 108%;
  height: 86%;
  margin-top: -2px;
  margin-left: -4px;
  line-height: 17px;
}
@-moz-keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-me {
  background-color: rgb(1, 2, 172);
  font-family: "Press Start 2P", cursive;
  color: white;
}

.about-me.container {
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.about-me .msg {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.about-me p {
  text-align: left;
  line-height: 18px;
  margin-block-start: 1.1em;
  margin-block-end: 1.1em;
}

.about-me .continue {
  text-align: center;
}

.about-me .continue:hover {
  color: rosybrown;
}

.about-me .highlight {
  color: rgb(1, 2, 172);
  background-color: rgb(172, 173, 168);
  padding: 3px;
  text-align: center;
  width: 220px;
}

.about-me .blink {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.tech-stuff-wrapper {
  background-color: #000;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v1/yJ/r/TCIyZGTrsjX.jpg);
  background-repeat: repeat;
  padding-top: 40px;
  padding-bottom: 40px;
}
.tech-stuff p a {
  display: inline-block;
}
.tech-stuff p {
  margin-bottom: 20px;
}
.tech-stuff {
  padding: 40px 10px;
  margin: auto;
  max-width: 570px;
  background: white;
}
.tech-stuff h1 {
  line-height: 1.16;
  --mouse-shadow: 4.29833px;
  letter-spacing: 0.101rem;
  text-align: left;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: -2px 0 #000, 0 -2px #000, 2px 0 #000, 0 2px #000, 2px 2px #000,
    -2px -2px #e02020, -2px 2px #3a0505, 2px -2px #000,
    calc(1 * var(--mouse-shadow)) var(--mouse-shadow) #ff0c0c;
  color: white;
  margin: auto;
  text-align: center;
}

ul.extra-list-lol div {
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: -2px 0 #000, 0 -2px #000, 2px 0 #000, 0 2px #000, 2px 2px #000,
    -2px -2px #e02020, -2px 2px #3a0505, 2px -2px #000,
    calc(1 * var(--mouse-shadow)) var(--mouse-shadow) #fff;
  line-height: 1.16;
  --mouse-shadow: 4.29833px;
  letter-spacing: 0.101rem;
  color: white;
}

ul.extra-list-lol li {
  list-style: none;
}

ul.extra-list-lol {
  padding-left: 0px;
}
#menu {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 400;
  width: 300px;
  height: 100%;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-align: center;
  -webkit-box-shadow: 9px 10px 61px -16px rgb(0 0 0 / 23%);
  -moz-box-shadow: 9px 10px 61px -16px rgb(0 0 0 / 23%);
  box-shadow: 9px 10px 61px -16px rgb(0 0 0 / 23%);
  background-color: #3b3950;
}

#menu .clippy {
  display: none !important;
  position: absolute !important;
}

#menu.opened {
  left: 0px;
}

#menu .nav-content {
  text-align: center;
  font-size: 2em;
  font-family: "Bungee Shade", cursive;
  display: flex;
  align-items: center;
  flex-flow: column;
}

#menu.opened .clippy {
  display: block !important;
}

.hamburger-trigger {
  margin-left: 2px;
  margin-bottom: 2px;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 6px 3px;
  background-color: silver;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  min-width: 59px;
  margin-right: 6px;
  color: #000;
  position: fixed;
  background: white;
  z-index: 200;
  width: 77px;
  height: 24px;
  top: 10px;
}

.nav-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  width: 100%;
  height: 100%;
}

.template {
  display: none;
}

@media (max-width: 768px) {
  .about-me .msg {
    padding-left: 12px;
    padding-right: 12px;
  }

  .about-me p {
    margin-block-start: 1.3em;
    margin-block-end: 1.3em;
  }

  .tech-stuff {
    margin-left: 12px;
    margin-right: 12px;
    max-width: unset;
  }
  .tech-stuff h1 {
    text-align: left;
  }
  .social-btns {
    max-width: 500px;
  }
}
