@import "//codepen.io/chrisdothtml/pen/ojLzJK.css";
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.gitlab:before {
  background-color: #e2432a;
}
.social-btns .btn.gitlab .fa {
  color: #e2432a;
}
.social-btns .btn.medium:before {
  background-color: #000;
}
.social-btns .btn.medium .fa {
  color: #000;
}

.social-btns .btn.email:before {
  background-color: #d6249f;
}
.social-btns .btn.email .fa {
  color: #d6249f;
}

.social-btns .btn.linkedin:before {
  background-color: #211f1f;
}
.social-btns .btn.linkedin .fa {
  color: #211f1f;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  transform: scale(1);
}
.social-btns-wrapper {
  padding: 40px 20px;
  min-height: 300px;
  background: #ecf0f1;
  display: flex;
  flex-flow: column;
}
.social-btns {
  margin: auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.social-btns .btn {
  display: inline-block;
  padding-top: 25px;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 20px 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}
.social-headers {
  font-size: 40px;
  font-weight: bold;
}
